H1	{
	margin-left: 0em;
	color: white;
	background: lightgray;
	font-size: 18pt;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	line-height: normal
	}

H2	{
	margin-left: 0em;
	color: lightgray;
	font-size: 14pt;
	font-family: sans-serif;
	font-style: italic;
	font-weight: bold;
	font-variant: normal;
	line-height: normal
}

p	{
	margin-left: 0em;
	color: black;
	font-size: 12pt;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	line-height: normal
}

A:link,
A:visited	{
	text-decoration: none;
	color: gray
}

A:hover	{
	color: lightgray
}



